<?xml version="1.0"?>

<launch>
	<include file="$(find kamui_launch)/launch/kamui_motor_test.launch"/>
<!--	<include file="$(find kamui_launch)/launch/kamui_cameras.launch"/> -->
	<include file="$(find my_dynamixel_tutorial)/b2.launch"/>
	<node pkg="urg_node" type="urg_node" name="urg_node">
		<param name="ip_address" type="string" value="192.168.0.10"/> 
		<param name="frame_id" type="string" value="/laser_link"/>  
	</node>

	<node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud_node" />

	<node pkg="wall_follower" type="detect_near_wall_node2" name="detect_near_wall_node2"/>
	<node pkg="wall_follower" type="wall_follower_node" name="wall_follower_node" >
		<param name="vel" type="double" value= "40"/><!--30-->
		<param name="avel" type="double" value="36"/><!--25-->
		<param name="right_or_left" type="string" value="left"/>
	</node>
<!--
	<include file="$(find my_dynamixel_tutorial)/b2.launch"/>
-->
	<group ns="gimbal">
		<node pkg="urg_node" type="urg_node" name="urg_node">
			<param name="ip_address" type="string" value="192.168.0.20"/> 
			<param name="frame_id" type="string" value="/gimbal_laser"/>
		</node>
<!--
		<node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud_gimbal_node" name="laserscan_to_pointcloud_gimbal_node" output="screen" respawn="false"/>
-->
	</group>

	<node pkg="stbee_serial" type="stbee_serial_node" name="stbee_serial_node" output="screen">
		<param name="modify_delay" type="int" value="0"/>
		<param name="modify_angle" type="double" value="0"/>
	</node>
<!--<include file="$(find kamui_launch)/launch/kamui_cameras.launch"/>-->
</launch>
